<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 화면</title>
    <script src="https://code.jquery.com//jquery-3.4.1.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <p class="title">게시글 상세 화면</p>
    <table class="board_detail">
        <tr class="detail_head head1">
            <td class="head_title">글 번호</td>
            <td><input type="text" id="boardNum" value="{{board.boardNum}}"></td>
        </tr>
        <tr class="detail_head head2">
            <td class="head_title">제목</td>
            <td><input type="text" id="title" value="{{board.title}}"></td>
        </tr>
        <tr class="detail_head head3">
            <td class="head_title">작성자</td>
            <td><input type="text" id="writer" value="{{board.writer}}"></td>
        </tr>
        <tr class="detail_head head4">
            <td class="head_title">내용</td>
            <td><textarea id="content">{{board.content}}</textarea></td>
        </tr>
    </table>
    <div>
        <input class="detail_btn" type="button" value="목록" onclick="location.href='/boardList'">
        <input class="detail_btn" type="button" value="수정" onclick="updateBoard()">
        <input class="detail_btn" type="button" value="삭제" id="deleteBoard" onclick="deleteBoard()">
    </div>
</div>
</body>
</html>
<script>

    function deleteBoard(){
        loadAjax('/board', 'DELETE', {boardNum: document.getElementById("boardNum").value}, true)
    }

    function updateBoard() {

        const detailList = {
            title: document.getElementById("title").value,
            writer: document.getElementById("writer").value,
            content: document.getElementById("content").value,
            boardNum: document.getElementById("boardNum").value
        }

        loadAjax('/board', 'PUT', detailList, true);
    }

    function loadAjax(link, method, dataList, alertOK){
        $.ajax({
            url: link,
            type: method,
            data: dataList,
            success: function () {
                if (alertOK){
                    alert("성공하였습니다.")
                    location.href="/boardList";
                }
            },
            error: function () {
                if (alertOK){
                    alert("실패 하였습니다.")
                }
            }
        });
    }

</script>