<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="board_home">
    <p class="home_title">Home</p>
    <p><a class="home_btn" href="loginPage" role="button">Login</a></p>
    <p><a class="home_btn" href="logoutPage" role="button">Logout</a></p>
    <p><a class="home_btn" href="boardList" role="button">Board</a></p>
    <p><a class="home_btn bottom_btn" href="joinPage" role="button">Join</a></p>
</div>
</body>
</html>