<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="board_join">
    <p class="join_title">Create Account</p>
    <form action="/join" method="post">
        <div class="join_table">
            <div class="join_section">
                <input class="join_btn" type="text" name="username" placeholder="Username">
            </div>
            <div class="join_section">
                <input class="join_btn" type="password" name="password" placeholder="Password">
            </div>
            <div class="join_section">
                <input class="join_btn" type="email" name="userEmail" placeholder="Email">
            </div>
        </div>
        <div class="bottm_join">
            <input type="submit" class="join_bottom_btn" value="회원가입">
        </div>
    </form>
</div>
</body>
</html>