<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="board_login">
    <p class="login_title">Login</p>
    <form action="/login" method="post">
        <div class="login_table">
            <div class="login_section">
                <input class="login_btn" type="text" name="username" placeholder="userId">
            </div>
            <div class="login_section">
                <input class="login_btn" type="password" name="password" placeholder="password">
            </div>
            <div class="bottom_login">
                <input type="submit" class="login_bottom_btn" value="로그인">
            </div>
        </div>
    </form>
</div>
</body>
</html>